{% extends 'guild/base.html' %}

{% block content %}
<div class="container mt-5 pt-5">
    <div class="row">
        <div class="col-12">
            <h1 class="mb-4" style="color: #E8DED0;">O nas</h1>

            <div class="about-content">
                <p class="mb-4" style="font-family: 'Montserrat', sans-serif; color: #E8DED0;">
                    Grupa Inglourious Basterds Clan operuje nieprzerwanie od 2018 roku polskiej oraz zagranicznej scenie Arma 3.
                    Jako grupa jesteśmy skupieni na przyjemności z rozgrywki oraz wzajemnym udoskonalaniu siebie nawzajem.
                    Wielu z nas posiada wiedzę o różnych okresach historycznych, także każdy u nas znajdzie coś dla siebie.
                </p>

                <p class="mb-4" style="font-family: 'Montserrat', sans-serif; color: #E8DED0;">
                    Wyróżnia nas elastyka w działaniu - staramy się być skuteczni nieważne od tego czym gramy,
                    w jakiej roli gramy oraz w jakich warunkach gramy. Potrafimy odnaleźć się w każdej sytuacji
                    niezależnie od przeciwności losu.
                </p>

                <p class="mb-4" style="font-family: 'Montserrat', sans-serif; color: #E8DED0;">
                    Gramy różne rodzaje rozgrywek, od scenariuszy PvE zarówno wewnętrzno-klanowych, 
                    jak i tak zwanych Joint Operations (JOPów) z innymi zaprzyjaźnionymi grupami.
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}